<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @add_fields_to_user.grade %>
</p>

<p>
  <strong>User:</strong>
  <%= @add_fields_to_user.user_id %>
</p>

<%= link_to 'Edit', edit_add_fields_to_user_path(@add_fields_to_user) %> |
<%= link_to 'Back', add_fields_to_users_path %>
